@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-condensed {
    font-stretch: extra-condensed;
  }
}

html {
  height: 100%;
  width: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100%;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding: 1em;
  background: black;
}

body > div {
  display: contents;
}